*node_modules
*.json
socketio_realtimechat
netflix_clone
pwa_react
spotify_clone
whatsapp_clone
covid_tracker
crud
electron_shopping
electronApp
lead_manager_react_django
mern_shopping
mychart
reduxExample